.courseCard {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid #538853;
  border-radius: 12px;
  background-color: white;
}

.cardLeft {
  width: 63%;
}

.cardLeft p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1rem;
}

.cardLeft h2 {
  margin-top: 0;
  font-size: 1.7rem;
}

.cardRight {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardRight span {
  font-weight: bold;
}

.cardRight p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
}

.cardRight p:first-child {
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.centered {
  display: flex;
  justify-content: center;
}