.input {
  width: 100%;
}

.input input {
  border: 2px solid orange;
  padding: 0 1rem;
  border-radius: 5px;
  height: 2rem;
  width: 100%;
}

.input input:focus {
  outline-color: orange;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
