.button {
  font: inherit;
  border: 2px solid #ad56be;
  padding: 0.25rem 1rem;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  border-color: #d400ff;
  color: #d400ff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.button:active {
  border-color: #e571fc;
  color: #e571fc;
}

.button:disabled {
  color: #b1b1b1;
  border: 2px solid #ad56be;
  box-shadow: none;
  cursor: not-allowed;
}