.description {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.description textarea {
  border: 2px solid #e0e012;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font: inherit;
  font-size: 0.9rem;
  resize: none;
}

.description textarea:focus {
  outline-color: #8f7500;
  box-shadow: #63636333 0px 2px 8px 0px;
}