.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  border: 2px solid salmon;
  background-color: #ececec;
}

.user {
  display: flex;
  align-items: center;
}

.user p {
  margin: 0 1.5rem 0 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #585858;
}

@media (max-width: 400px) {
  .user p {
    margin-right: 1rem;
    font-size: 1rem    
  }
} 