.courses {
  border: 2px solid #609af1;
  list-style: none;
  background-color: #ececec;
}

.courses ul {
  padding: 0;
  margin: 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}