.create_course {
  border: 2px solid #609af1;
  background-color: #ececec;
}

.create_course_top {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.btn_create {
  height: 2rem;
  align-self: flex-end;
}

.authors {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid #7e7e7e;
  height: fit-content;
  border-radius: 5px;
}

.authors_row1 {
  height: 50%;
  display: flex;
  margin-bottom: 1rem;
}

.authors_row2 {
  height: 50%;
  display: flex;
}

