.authors {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.heading {
  margin: 0 0 0.5rem 0;
  font-weight: 500;
}

.heading2 {
  margin: 0;
  font-weight: 500;
}